@import "../../../globalstyles/styles.scss";

// Fix for jumping arrows
.section-cards {
  padding: 40px 0px;
  &__heading {
    margin-bottom: -10px;
  }
}

.nested-cards {
  ul > li:nth-child(3n + 4) {
    margin-left: 0px;
  }
}

.card-dataset {
  padding: 40px 0px;
}
.card-manager {
  display: flex;

  &-vertical {
    flex-direction: column;
    li {
      margin-top: 40px;
    }
    li:first-child {
      margin-top: 0px;
    }
  }
  &-horizontal {
    flex-direction: row;
    li {
      margin-left: 40px;
      margin-top: 30px;
    }
    li:first-child {
      margin-left: 0px;
    }
  }
  &_item {
  }
}
