#anasayfa_sol{
    position: fixed;
    left:0px;
    background-color:orange;
    top:150px;
    z-index: 1;
}

#anasayfaMastHead{
    margin-top:14px;
    div{
        margin:auto;
        background-color:#fff;
    }
}