$system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$body-font-size: 16px; // px
$min-font-size: 14px; // px
$h1-size:36px;

body{
    font-family: $system-font;
    font-size: $min-font-size;
}

h1 {
    font-size: $h1-size;
}