@import "../../../globalstyles/styles.scss";

// Fix for jumping arrows
.section-cards{
    padding:40px 0px;
    &__heading{
      margin-bottom:-10px;
    }   
}

.nested-cards{
  ul > li:nth-child(3n+4) {
    margin-left:0px;
  }  
}

.card-lists {
  display: flex;
  flex-wrap: wrap;
  
  &-vertical {
    flex-direction: column;
    li {
      margin-top: 30px;
    }
    li:first-child {
      margin-top: 0px;
    }
  }
  &-horizontal {
    flex-direction: row;
    li {
      margin-left: 30px;
      margin-top:30px;
    }
    li:first-child {
      margin-left: 0px;
    }
  }
  &_item {
  }

}

.section-cards__sag-manset-yani{
  padding-top:0px;
  padding-bottom:0px;

}

.section-cards__sag-manset-yani .card-title{
  padding-top:12px;
}