@import "../../../globalstyles/styles.scss";

.responsive {
  max-width: 100%;
  display: block;
}

.sticky-inner-wrapper {
  background-color: $brand;
}

.sticky-now {
  .header {
    &__row-two {
      display:none;
    }
  }
}

.header {
  margin: auto;
  padding: 10px 0px;
  &__row-one {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    &-logo {
      margin-top: 20px;
    }
    &-nav {
      margin-top: 20px;
      right: 0px;
    }
  }

  &__row-two {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 30px;
    &-moment {
      line-height: 33px;
      font-size: 13px;
    }
    &-input-buttons-container {
      display: flex;
      &-form {
        width: 200px;
      }
      &-btn {
        margin-left: 15px;
        margin-top: 13px;
        font-size: 14px;
      }
    }
  }
}
